<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Model Commissioning Station</title>
</head>

<body>
<h1 th:utext="${model}"/>
<table>
        <tr>
            <td>Objective:</td>
            <td>
                <th:block th:each="objective: ${model.objectives}">
                    <span th:text="${objective}"/>
                </th:block>
            </td>
        </tr>
        <tr>
            <td>Algorithm type(s):</td>
            <td>
                <th:block th:each="algorithm: ${model.algorithms}">
                    <th:block th:each="type: ${algorithm.types}">
                        <span th:text="${type}"/>
                    </th:block>
                </th:block>
            </td>
        </tr>
</table>

<h2>Information elements needed</h2>
<table>
    <tr>
        <th>Information element</th>
        <th>Variable type</th>
    </tr>
        <th:block th:each="informationElement: ${model.informationElements}">
            <tr>
                <td>
                    <span th:text="${informationElement.classLabel}"/>
                </td>
                <td>
                    <span th:text="${informationElement.variableType}"/>
                </td>
            </tr>
        </th:block>
</table>
<h2>Validation</h2>
<form method="get" th:action="@{/validation/new}">
    <input type="hidden" id="uri" name="uri" th:value="${model.identifier}"/>
    <input type="submit" value="Validate model!"/>
</form>
<table>
    <tr>
        <th>Date and time</th>
        <th>Status</th>
    </tr>
    <th:block th:each="validationRequest: ${validationRequests}">
        <tr>
            <td><span th:text="${validationRequest.dateTime}"/></td>
            <td><span th:text="${validationRequest.getStatus}"/></td>
        </tr>
    </th:block>
</table>
</body>
</html>